
/* Typography */
body {
  font-family: var(--font-family);
  color: var(--text-primary);
  background-color: var(--color-surface);
  padding: 2rem;
  margin: 0;
}

h1, h2 {
  font-weight: 600;
  margin-bottom: 1rem;
}

h2 {
  color: var(--color-primary);
}

/* Title Bar Styles */
.header-bar {
  display: flex;
  align-items: center;
  padding: 2rem 3rem;
  font-family: "Segoe UI", Roboto, sans-serif;
  font-size: 2.4rem;
  font-weight: 600;

  /* background: linear-gradient(90deg, var(--color-primary-light), var(--color-primary-dark)); */
  background: var(--color-primary-dark);
  color: white;

  border-bottom: 2px solid var(--color-border);
  border-radius: var(--radius);

  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.app-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin: auto;
  align-items: flex-start;
  padding: 2rem;
}

/* Panel Styles */
.left-panel,
.right-panel {
  background-color: var(--color-surface);
  padding: 2rem;
  border-radius: var(--radius);
  box-shadow: var(--color-card-shadow);
  flex: 1 1 50%;
  min-width: 340px;
}

.left-panel {
  flex: 1.1;
}

.right-panel {
  flex: 1;
}




/* Responsive stacking under 900px */
/* @media (max-width: 600px) {
  .app-container {
    flex-direction: column;
    align-items: stretch;
  }

  .left-panel, .right-panel {
    max-width: 100%;
  }
} */